/* ESTILOS ESPECIFICOS DE FORMULARIO */

.acp__terms { /*aceptar terminos y condiciones*/
    color: darkblue;
    text-decoration: underline;
}
.acp__terms:hover {
    color: darkgreen;
}
.botones {
    width: 120px;
    height: 30px;
    background-image:linear-gradient(lightblue,rgb(150, 150, 255));
    color:black;
    border:solid gold;
    border-radius: 20px;
    margin: 10px;
}
.txt__box { /*estilo caja aliado*/
    background-color: white ;
    margin-right:  65%;
    margin-top: 20px;
    margin-left: 17px;
}
.txt__mas{ /*estilo caja mas info*/
    color: #1466CC;
    text-decoration: none;
}