/* ESTILOS ESPECIFICOS DE FORMULARIO */

.acp__terms { /*aceptar terminos y condiciones*/
    color: darkblue;
    text-decoration: underline;
}
.acp__terms:hover {
    color: darkgreen;
}

.txt__box { /*estilo caja aliado*/
    background-color: white ;
    margin-right:  65%;
    margin-top: 20px;
    margin-left: 17px;
}
