    /******* Imagenes ********/

.img__promo {   /*imagen promocion*/
    width: 100%;
    height: 80vh;
    padding: 15px;
    border-radius: 30px;
}
.img__serv { /*Imagenes servicios 1 */
    border-radius: 20px;
}

.img__serv2 {    
    @extend .img__serv;
}
.img__serv3 {
    @extend .img__serv;
    border: solid black;
}

.img__serv4 {     /*imagens servicios 4*/
    @extend .img__serv;
    margin-right: 30px;
}
.img__mis {     /*imagen vision*/
    @mixin misvis($ancho,$margin) {
        width:$ancho ;
        margin: $margin;
    }
    @include misvis(50%,20px)
}
.img__vis {     /*imagen vision*/
    @mixin misvis($ancho,$margin) {
        width:$ancho ;
        margin: $margin;
    }
    @include misvis(100%,20px)
}
.img__prod{     /*imagenes productos*/
    width: auto;
    height: 30rem;
    border-radius: 20px;
}
.img__prod2{    /*imagenes productos 2 */
    width: 90%;
    height: 70%;
    border-radius: 20px;
}
.img__logo {    /*caja con imagen logo*/
    width: 120px;
    height: 60px;
    border-radius: 30px;
}
.imgs__border{  /*borde imagenes */
    border-radius: 30px;
    border: solid gold;
}
.img__promo { /*estilo iamgen promocion*/
    width: 100%;
    height: 80vh;
    padding: 15px;
    border-radius: 30px;
}